*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	text-decoration: none;
	font-family: 'Courier New';
	list-style: none;
	color: #fff;
}
body{
	background-image: url(../image/9.png);
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	display: flex;
	
}
header{
	position: fixed;
	width: 100%;
	top:0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 12%;
	transition: all ease .50s;
	
	
}
.logo{
	display: flex;
	align-items: center;
	

}
.navbar{
	display: inline-flex;
	
	
	
}
.navbar li{
	padding: 0 5px;
	margin: 0 30px ;
	transition: all 0.5s ease;
	cursor: pointer;
	position: relative;
}

.navbar li:hover{
	
	color: #Ff073a;
	font-weight: bold;
	font-size: larger;
}
.navbar li::after{content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color:#4682B4;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.45s ease;

}
.navbar li:hover::after{
	visibility: visible;
	transform: scaleX(1);
	font-weight: bold;
}
.btn{
	background-color: transparent;
	border: 2px solid #101C27;
	border-radius: 6px;
	margin: 0 30px;
	margin-top: -12px;
	padding: 10px;
	cursor: pointer;
	transition: all ease 0.45s;
}
.btn:hover{
	background-color:#8EB5C1;
	color:#101C27;
	border-color:#8EB5C1;
	transform: scale(1.1);
	font-weight: bold;
}









